@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

html{
  box-sizing: border-box;
}

*,*::before,*::after{
  box-sizing: inherit;
}

.container{
  width:1200px;
  margin:0 auto;
}

.mainReason--normal{
  background: url("../img/main__reason1.jpg") right center no-repeat #b35f4d;
}

.mainReason--reverse{
  background: url("../img/main__reason2.jpg") left center no-repeat #e5b29e;
}

.filter__wrapper{
  background: url("../img/filter__background.jpg") center center no-repeat #6a727a;
  background-size: cover;
}

.filter{
  display:flex;
}

.main__navigation__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main__navigation__list li{
  width:20%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  text-align: center;
}
.main__navigation__list a{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 26px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.main__navigation__list a:hover{
  color:#81b3d2;
}

.main__navigation__list a:active{
  color:rgba(0,0,0,0.3);
}

.main__navigation__current a{
  color:#766357;
}

.reason__wrapper{
  max-width: 490px;
  margin:60px auto;
  text-align: center;
}

.reason__title{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
  color: #000;
  text-transform: uppercase;
  margin-bottom:40px;
}
.reasons__list{
  display: flex;
  flex-wrap: wrap;
}

.mainReason{
  width:100%;
}

.small__blocks{
  width:33.3333333%;
}

.mainReason__blue{
  width: 400px;
  background-color: rgb(129,179,210);
  padding-left:45px;
  padding-right:45px;
  padding-top:50px;
  padding-bottom:50px;
  text-align: center;
}

.mainReason--reverse{
  padding-left: 800px;
}

.reason__description {
  font-family: 'PT Sans', sans-serif;
  line-height: 26px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

.reason__name{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 21px;
  font-size: 21px;
  color: #fff;
  text-transform: uppercase;
}

.reason__number{
  font-family: 'PT Sans', sans-serif;
  line-height: 21px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.reason__explanation{
  font-family: 'PT Sans', sans-serif;
  line-height: 21px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  max-width: 282px;
}

.reason__opportunity{
  padding-top: 60px;
  padding-bottom: 85px;
  padding-left: 48px;
  padding-right: 48px;
  text-align: center;
}

.opportunity__name{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 21px;
  font-size: 21px;
  color: #000;
  text-transform: uppercase;
}

.explanation__grey{
  font-family: 'PT Sans', sans-serif;
  line-height: 21px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

.reason__greycolor{
  padding-left: 42px;
  padding-right: 44px;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #eee;
}

.reason__name--grey{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 21px;
  font-size: 21px;
  color: #000;
  text-transform: uppercase;
}

.reason__number--greycolor,
.reason__explanation--grey{
  font-family: 'PT Sans', sans-serif;
  line-height: 21px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

.booking__wrapper{
  max-width: 436px;
  margin: 57px auto 50px auto;
  text-align: center;
}

.booking__name{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 36px;
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  margin-bottom:38px;
}

.booking__explanation{
  font-family: 'PT Sans', sans-serif;
  line-height: 24px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

.booking__link{
  width: 570px;
  min-height: 86px;
  background-color:#766357;
  margin: auto;
  padding-top: 32px;
  text-align: center;
}

.booking__link:hover{
  background-color:#604e43;
}

.booking__link:active{
  background-color: #503e33;
}

.booking__search{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.booking__search:hover{
  color:#fff;
}

.booking__search:active{
  color:rgba(255, 255, 255, 0.3);
}

.booking__form{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 26px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  width:570px;
  padding:55px;
  background-color: #cecece;
  margin: 0 auto;
}

.booking__form__string{
  border:none;
  padding: 0;
  margin: 0;
  position: relative;
}

.booking__form__label{
  position: relative;
}

.booking__form__label svg{
  width:21px;
  height: 22px;
  position: absolute;
  right:9px;
  top:4px;
  fill:#cacaca;
}

.booking__form__label svg:hover{
  fill:#000;
}

.booking__form__label svg:active{
  fill:#81b3d2;
}

.booking__form__label span{
  margin-right: 15px;
  width: 96px;
  display: inline-block;
}


.booking__form__field{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 26px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  width: 345px;
  height: 38px;
  border:none;
}

.booking__form__field:hover{
  background-color: #ebebeb;
}

.booking__form__field:focus{
  background-color: #fff;
}

.booking__form__field::placeholder{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 26px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

.quantity{
  display: inline-block;
}

.container__for__form{
  width: 460px;
  margin: 0 auto;
}
.booking__form__add{
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
}

.booking__form__string2{
  width:50%;
}

.booking__form__string2:nth-child(2){
  padding-left: 52px;
}

.booking__form__string2:nth-child(2) .booking__form__label{
   width: 65px;
}

.booking__button{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
  color: #fff;
  text-transform: uppercase;
  width:448px;
  height: 59px;
  margin-top: 54px;
  margin-right: auto;
  margin-left: auto;
  background-color: #81b3d2;
  border:none;
  box-shadow: none;
}

.booking__button:hover{
  background-color: #669ec0;
}

.booking__button:active{
  background-color: #5496bc;
  color:rgba(255, 255, 255, 0.3);
}

.sedona__footer .container{
  display: flex;
}

.hashtag{
  width: 33.333333%;
  text-align: center;
  background-color: #fff;
  margin-bottom: 52px;
  margin-top: 49px;
}

.hashtag a {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.social{
  width: 33.333333%;
  text-align: center;
  margin: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.social__button{
  background-color: #81b3d2;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin:0 3px;
}

.social__button:hover{
  background-color: #669ec0;
}

.social__button:active{
  background-color: #5496bd;
}

.social__button:active img{
  opacity:0.3;
}

.copyright{
  width: 33.333333%;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  line-height: 26px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright svg{
  width: 115px;
  height: 41px;
  fill:#000;
}
.copyright svg:hover{
  fill:#81b3d2;
}

.copyright svg:active{
  fill:#bdbbbc;
}
.copyright p{
  margin-right: 8px;
}










/*стили для второй страницы*/

.filter__column legend{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 21px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}

.filter__column{
  font-family: 'PT Sans', sans-serif;
  line-height: 21px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  width: 25%;
  border:none;
}

.filter__column.price__adjusting{
  width: 50%;
}

.filter__column label{
  display:block;
}

.found{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
  color: #000;
  text-transform: uppercase;
}

.sort{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 18px;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
}

.search__result__link--active a{
  font-family: 'PT Sans', sans-serif;
  line-height: 18px;
  font-size: 12px;
  color: #81b3d2;
  text-transform: uppercase;
  text-decoration: none;
}

.search__result__link a{
  font-family: 'PT Sans', sans-serif;
  line-height: 18px;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
}

.hotel__name{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
  color: #000;
  text-transform: uppercase;
}

.kind__hotels, .price{
  font-family: 'PT Sans', sans-serif;
  line-height: 21px;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.blue__link{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 21px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.brown__link{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  line-height: 21px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/*
label{
 position: relative;
padding-left: 20px;
}
label::before{
 position: absolute;
 content: '';
 display: block;
 left: 0;
 top: 0;
 width: 23px;
 height: 23px;
 border: 2px solid #fff;
 border-radius: 2px;
}
input:checked + label::after{
 position: absolute;
 content: 'галочка';
 display: block;
 left: 0;
 top: 0;
 width: 23px;
 height: 23px;
}
*/
